.user-section {
    display: flex;
    background-color: var(--bg-tertiary);
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--border-color);

    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-primary);
    box-shadow: 0 4px 12px var(--shadow-color);
    width: 100%;
    box-sizing: border-box;
}

.user-section:hover {
    background: var(--bg-secondary);
    transform: translateX(6px) scale(1.02);
}

.sidebar.collapsed .user-section {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    pointer-events: none;
}

/* IMAGEN */

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border: 1px solid var(--border-color);
    background-size: cover;
    background-position: center;
}

.user-avatar:hover {
    background-color: var(--bg-secondary);
}

.user-avatar.has-image:hover {
    filter: brightness(0.8);
}

.user-avatar i {
    font-size: 1.2rem;
}

/* LOGOS */

.logo {
    width: 65px;
}

.logo-python {
    width: 40px;
}

.logo-html {
    width: 40px;
}

.logo-css {
    width: 40px;
}

.logo-javascript {
    width: 40px;
    border-radius: 8px;
}

.logo-sql {
    width: 50px;
}

/* COLLAPSED SIDEBAR */
.sidebar.collapsed .user-info {
    display: none;
}

.sidebar.collapsed .user-section {
    justify-content: center;
    padding: 12px;
    margin-top: 0;
    margin-bottom: 20px;
}

